
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #fff;
}

.wrapper{
    max-width: 1000px;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 315px;
    height: 200px;
    min-width: 315px;
    border-radius: 10px;
    background-color: #8e44ad;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    padding: 10px; 
}

.chip{
    width: 50px;
    padding-top: 20px; 
}

.card-number{
    font-size: 24px;
}

.card-name{
    font-size: 20px;
    font-family: monospace;
    margin-bottom: 10px;
    font-weight: bold;
}


.date-visa{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.val{
    font-size: 10px;
}
.val, .date{
    font-family: 'Tahoma', sans-serif;
    
}

.visa{
    width: 100px;
    
}

.card:nth-child(2){
    background-color: #009432;
}

.card:nth-child(3) {
    background-color: #0652DD;
}

.card:nth-child(4) {
    background-color: #161617;
}